// out: null

/*
File Name: mixins.less
Date: 10/23/2017
Programmer: Mario Lopriore
*/

@headlineFont: 'Fjalla One', sans-serif;
@taglineFont: 'Source Code Pro', monospace;
@bodyFont:  'Noto Serif', serif;

/*
Template fonts...

<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet"> 
@headlineFont: 'Exo 2', sans-serif;

<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
@bodyFont:  'Noto Serif', serif;

<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet"> 
@taglineFont: 'Source Code Pro', monospace;


Other fonts that I like...

One style - always italic, but strong.
<link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet"> 
font-family: 'Contrail One', cursive;

Wide, dark & slick. Originally a Thai font - weird.
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet"> 
font-family: 'Kanit', sans-serif;

I've used this one several times.
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 
font-family: 'Fjalla One', sans-serif;

Pretty tight, but casual too.
<link href="https://fonts.googleapis.com/css?family=Rambla" rel="stylesheet"> 
font-family: 'Rambla', sans-serif;

This is a top-heavy display font. Might give it a whirl...
<link href="https://fonts.googleapis.com/css?family=Denk+One" rel="stylesheet"> 
font-family: 'Denk One', sans-serif;

*/