// out: null
/*
File Name: palette.css
Date: 2/28/18 - revised
Programmer: Mario Lopriore
*/

@color1: #FBFBFB; // Balancing the white's off-whiteness to match the black.
@color2: #EE4515;
@color3: #E2E2E2;
@color4: #20557D;
@color5: #0F0505; // Using pure black can make background/text vibrate.
// Almost-white, orange, light gray, blue, almost-black... in order.
// Hover for preview of color.
