/*
File Name: style.less
Date: 10/24/2017
Programmer: Mario Lopriore
Project: Anchor Tag Design
*/
/* These are imported from the mixins.less file. */
/*
File Name: mixins.less
Date: 10/23/2017
Programmer: Mario Lopriore
*/
/*
Template fonts...

<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet"> 
@headlineFont: 'Exo 2', sans-serif;

<link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
@bodyFont:  'Noto Serif', serif;

<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet"> 
@taglineFont: 'Source Code Pro', monospace;


Other fonts that I like...

One style - always italic, but strong.
<link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet"> 
font-family: 'Contrail One', cursive;

Wide, dark & slick. Originally a Thai font - weird.
<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet"> 
font-family: 'Kanit', sans-serif;

I've used this one several times.
<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 
font-family: 'Fjalla One', sans-serif;

Pretty tight, but casual too.
<link href="https://fonts.googleapis.com/css?family=Rambla" rel="stylesheet"> 
font-family: 'Rambla', sans-serif;

This is a top-heavy display font. Might give it a whirl...
<link href="https://fonts.googleapis.com/css?family=Denk+One" rel="stylesheet"> 
font-family: 'Denk One', sans-serif;

*/
/*
File Name: palette.css
Date: 2/28/18 - revised
Programmer: Mario Lopriore
*/
body {
  margin: auto;
  max-width: 1500px;
}
body {
  margin: auto;
  max-width: 1500px;
}
/* Styling the navigation */
nav {
  background-color: #0F0505;
  line-height: 2em;
  padding: .5em;
  text-align: center;
  /* Mobile navigation styling classes for jQuery menu. */
  /* This is for the hamburger's horizontal lines. */
  /* The styling for the links in the dropdown menu. */
  /* Reemoves tablet and desktop menus until min-width: 481px; */
}
nav ul li a {
  font-family: 'Fjalla One', sans-serif;
  list-style-type: none;
}
nav .mobile-nav {
  margin: .5em auto;
}
nav .menu-btn div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.5em;
  line-height: 1.4;
  font-size: 20px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}
nav .menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px auto;
  background: #FBFBFB;
  z-index: 99;
}
nav .responsive-menu {
  display: none;
}
nav .responsive-menu a {
  color: #FBFBFB;
  font-size: 1.1em;
  line-height: 3;
  text-decoration: none;
}
nav .expand {
  display: block !important;
}
nav .tablet-desk-menu {
  display: none;
}
/* Initial header and specific mobile header styling. */
header h1 {
  color: #FBFBFB;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}
header img {
  display: block;
  margin: auto;
  padding: 2.5em 0;
  width: 60%;
}
header h3 {
  color: #FBFBFB;
  padding-bottom: 1em;
}
header .tagLine {
  color: #E2E2E2;
  font-family: 'Source Code Pro', monospace;
  font-size: .8em;
  font-weight: 500;
  text-align: center;
}
header .mobile_hero {
  background-image: url(../images/mobile_heroB.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
header button {
  display: block;
  margin: auto;
  margin-bottom: 1.5em;
}
header button a {
  color: #EE4515;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: none;
}
header button a:hover {
  color: #20557D;
}
header .errors {
  background-image: none;
}
header .errors h2,
header .errors h3 {
  color: #EE4515;
  margin: auto;
  padding: .5em 1em;
}
header .errors img {
  max-width: 70%;
  margin: auto;
  padding: 1.5em;
}
/* Removing the tablet & desktop header. */
.fullHeader {
  display: none;
}
/* Stying for Main and Section content. */
main {
  background-color: #FBFBFB;
}
.shade {
  border-bottom: 2px solid #E2E2E2;
  box-shadow: 0px 10px 10px #E2E2E2;
  width: 100%;
}
h2 {
  color: #0F0505;
  font-family: 'Fjalla One', sans-serif;
  line-height: 1.3em;
  padding-top: .8em;
  text-align: center;
}
h3 {
  color: #20557D;
  font-family: 'Fjalla One', sans-serif;
  line-height: 1.5em;
  text-align: center;
}
section h4 {
  color: #20557D;
  font-family: 'Noto Serif', serif;
  text-align: center;
}
section h5 {
  font-family: 'Noto Serif', serif;
  font-size: 1.2em;
  margin: .5em 1.5em;
}
section h6 {
  color: #20557D;
  font-family: 'Noto Serif', serif;
  font-size: .8em;
  margin: .5em 3em;
}
section p {
  color: #0F0505;
  display: block;
  font-family: 'Noto Serif', serif;
  line-height: 1.5;
  padding: 1.5em;
}
.work a {
  color: #20557D;
  text-decoration: none;
}
.work a:hover {
  color: #EE4515;
}
.work img {
  border: solid #0F0505;
  border-radius: 15px;
  border-width: 30px 5px;
  display: block;
  margin: 1em auto;
  max-width: 75%;
}
.work p {
  padding: .3em 1em 1.3em;
}
.about div .fa {
  color: #20557D;
  display: block;
  float: left;
  font-size: 2em;
  margin-top: .5em;
  padding-left: .7em;
}
.about h3 {
  padding-left: 4em;
  text-align: left;
}
.about p {
  clear: both;
  line-height: 2em;
  padding: .3em 1.5em 1.3em;
}
.process {
  margin: 0 1em;
}
.process div .fa {
  color: #20557D;
  display: block;
  float: left;
  font-size: 2em;
  margin-top: .5em;
  padding-left: .7em;
}
.process ul {
  clear: both;
  margin-bottom: .7em;
}
.process ul li {
  font-family: 'Noto Serif', serif;
  line-height: 1.5em;
  list-style-type: none;
  margin-left: 3em;
}
.process ul li:before {
  color: #EE4515;
  content: "\00BB \0020";
  margin-left: -1.5em;
}
.process h3 {
  padding-left: 4em;
  text-align: left;
}
form {
  color: #20557D;
  font-family: 'Noto Serif', serif;
  margin: .2em .8em;
  padding: .5em;
  text-align: left;
}
form h5 {
  color: #0F0505;
  font-size: 1.2em;
  margin: .5em;
}
form label {
  padding: .5em;
}
form input {
  color: #0F0505;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
}
form input[type=text] {
  font-family: 'Noto Serif', serif;
  margin: .5em;
  padding: .5em;
  width: 95%;
}
form input[type=submit] {
  color: #EE4515;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  margin: .5em;
}
form textarea {
  font-family: 'Noto Serif', serif;
  margin: .5em;
  padding: .5em;
  width: 95%;
}
/* Style here to move the input areas away from the fields. */
.inputArea {
  margin: 1em 0;
}
.contact p {
  line-height: 2;
  margin: auto;
}
.contact img {
  display: block;
  margin: auto;
  max-width: 80%;
}
.success {
  margin: 1em 3em;
}
footer {
  background-color: #0F0505;
  color: #FBFBFB;
  padding-bottom: 1.5em;
  text-align: center;
}
footer div .fa {
  color: #FBFBFB;
  font-size: 2em;
  text-align: center;
  padding: .7em .5em;
}
footer div .fa:hover {
  color: #EE4515;
}
footer div img {
  display: inline-block;
}
footer p {
  font-family: 'Noto Serif', serif;
  line-height: 2em;
}
/* ########################################################### TABLET CSS! */
/* Tablet CSS code and up */
@media only screen and (min-width: 481px) {
  /* This is the navigation outside of the hamburger menu. */
  .menu-btn {
    display: none;
  }
  /* Removing the hamburger menu from tablet size and up. */
  .responsive-menu {
    display: none;
  }
  /* Removing the mobile header. */
  .mobileHeader {
    display: none;
  }
  /* Restoring the desktop header. */
  .fullHeader {
    display: block;
  }
  nav {
    margin-top: 0;
    position: fixed;
    max-width: 1500px;
    width: 100%;
  }
  nav .tablet-desk-menu {
    display: block;
  }
  nav .tablet-desk-menu img {
    margin: auto;
    padding-left: .8em;
  }
  nav .tablet-desk-menu ul {
    background-color: #0F0505;
    padding: 0 1.5em;
    text-align: right;
  }
  nav .tablet-desk-menu ul li {
    display: inline;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 2.5em;
    padding: 0 1em 0 0;
  }
  nav .tablet-desk-menu ul li a {
    color: #f5f5f5;
    text-decoration: none;
  }
  nav .tablet-desk-menu ul li a:visited {
    color: #e2e2e2;
  }
  nav .tablet-desk-menu ul li a:hover {
    color: #eb3723;
  }
  nav .mini_logo {
    display: none;
  }
  /* Parallax effect for the desktop header/hero section. */
  .parallax {
    background-image: url(../images/temp_heroB.jpg);
    height: 550px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: inherit;
  }
  /* Header adapted for tablet */
  header img {
    max-width: 30%;
    padding: 6em 1em 0;
  }
  header h2 {
    color: #FBFBFB;
    font-weight: 600;
    text-align: center;
  }
  header h3 {
    color: #FBFBFB;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    padding: 0;
    text-align: center;
  }
  header button {
    display: block;
    font-family: 'Source Code Pro', monospace;
    margin: auto;
  }
  header .errors {
    background-image: none;
  }
  header .errors h2,
  header .errors h3 {
    color: #FBFBFB;
    margin: auto;
    padding: 1.5em;
  }
  header .errors img {
    max-width: 25%;
  }
  section h2 {
    padding-top: 55px;
  }
  .work {
    margin: 0 3em;
  }
  .work img {
    border-width: 30px 6px 45px;
    margin: 1em auto 3em;
  }
  .work p {
    font-size: .8em;
    line-height: 1.3;
    padding: .5em 0;
    text-align: left;
  }
  .about {
    margin-left: .3em;
    margin-right: .3em;
  }
  .about div .fa {
    margin-top: .5em;
    padding-left: 1.6em;
  }
  .about h3 {
    padding-left: 5em;
  }
  .about p {
    line-height: 1.5em;
    padding: .8em 3.2em;
  }
  .process {
    margin: 0 .3em;
  }
  .process div .fa {
    margin-top: .5em;
    padding-left: .2em;
  }
  .process h3 {
    padding-left: 3em;
  }
  .process ul li {
    font-size: .7em;
    line-height: 2.5em;
    margin-left: 2em;
  }
  .contact p {
    line-height: 1.5em;
    padding: .5em;
  }
  .contact img {
    margin: auto;
    max-width: 95%;
  }
}
/* ########################################################### DESKTOP CSS! */
/* Desktop CSS code and up */
@media only screen and (min-width: 1025px) {
  nav .tablet-desk-menu img {
    max-width: 70%;
  }
  nav .tablet-desk-menu ul {
    margin-top: .5em;
  }
  nav .tablet-desk-menu .mini_logo {
    display: block;
  }
  /* Parallax effect for the desktop header/hero section. */
  .parallax {
    height: 750px;
    background-size: cover;
  }
  /* Header adapted for desktop. */
  header {
    padding: 5em;
  }
  header .errors {
    background-image: none;
  }
  header .errors h2,
  header .errors h3 {
    color: #FBFBFB;
    margin: auto;
    padding: 1.5em;
  }
  header .errors img {
    max-width: 25%;
  }
  section h2 {
    margin-top: 60px;
    padding-top: 40px;
  }
  section h3 {
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
  }
  section h4 {
    font-size: 1.3em;
  }
  section ul li {
    font-family: 'Noto Serif', serif;
    line-height: 1.8em;
    margin-left: 3em;
  }
  .work img {
    border-width: 40px 8px 65px 8px;
  }
  .work p {
    font-size: .9em;
    line-height: 1.8;
  }
  .about {
    margin-left: 8em;
    margin-right: 8em;
  }
  .about div .fa {
    margin-top: .8em;
  }
  .about h3 {
    padding-left: 4em;
  }
  .about p {
    line-height: 2em;
  }
  .process {
    margin: 0 1em;
  }
  .process div .fa {
    margin-top: .8em;
    padding-left: 1em;
  }
  .process ul li {
    font-size: .9em;
    margin-left: 2.5em;
  }
  form {
    margin-left: 3em;
    padding: 2em 1em;
  }
  .contact p {
    line-height: 2em;
    padding: 1em;
  }
  .contact img {
    max-width: 95%;
  }
}
